.containerCard{
    display: flex;
    height: 700px;
    align-items: center;
    justify-content: center;
    background-color: rgb(238, 243, 238);
}
.card{
    width: 800px;
    height: 500px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

}
.cardName{
    margin: 10%;
    font-size: 25px;
    color: green;
    display: grid;
    grid-template-rows: 0.6fr 0.4fr;
}
.userImg{
    width:250px;
    height: 250px;
}
.userIcon{
    width:35px;
    height: 35px;
}
.cardInfo{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.num,
.item,
.loc {
  text-align: right;
  margin-right: 15%;
  font-size: 23px;
}
.icon{
    width: 20px;
    height: 20px;
    margin-left: 2%;
}